@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.header-title {
  background-color: rgb(255, 255, 255);
  font-size: 100px;
  color: rgb(62, 60, 52);
  font-family: "Bungee Shade", cursive;
  text-align: center;
}

.logo {
  width: 150px;
  height: 150px;
  vertical-align: middle;
}

.emoji-card {
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.emoji-image {
  margin: auto;
  display: block;
  width: 150px;
}

.add-new-emoji {
  font-family: "Rampart One", cursive;
  font-size: 40px;
  color: #ffffff;
}

.emoji-form {
  font-family: "Bungee Shade", cursive;
  border-radius: 30px;
  text-align: center;
  margin: 100px;
  box-sizing: border-box;
  background-color: rgb(140, 127, 116);
  padding: 5%;
}

.about {
  font-family: "Rampart One", cursive;
  font-size: 50px;
  color: rgb(62, 60, 52);
}

.home {
  text-align: center;
}

.about-body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  border-radius: 30px;
  background-color: rgb(140, 127, 116);
  padding: 20px;
  margin: 100px;
  margin-top: 0;
  color: #ffffff;
}

.category {
  font-family: "Rampart One", cursive;
  font-size: 20px;
}
