@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

.header-title {
  background-color: rgb(255, 255, 255);
  font-size: 100px;
  color: rgb(7, 12, 4);
  font-family: "Bungee Shade", cursive;
  text-align: center;
  height: auto;
  display: block;
  line-height: 100px;
  padding: 20px;
}

.app-logo {
  transition: all 3s ease-in-out;
  animation: App-logo-spin infinite 5s linear;
  max-height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.emoji-card {
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.emoji-image {
  margin: auto;
  display: block;
  width: 150px;
}

.add-new-emoji {
  font-family: "Rampart One", cursive;
  font-size: 40px;
  color: #ffffff;
}

.emoji-form {
  font-family: "Bungee Shade", cursive;
  border-radius: 30px;
  text-align: center;
  margin: 100px;
  box-sizing: border-box;
  background-color: rgb(140, 127, 116);
  padding: 5%;
}

.about {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 50px;
  color: rgb(62, 60, 52);
}

.home {
  text-align: center;
}

.about-body {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  border-radius: 30px;
  background-color: rgb(140, 127, 116);
  padding: 20px;
  margin: 100px;
  margin-top: 0;
  color: #ffffff;
}

.ui.menu {
  margin: 0rem;
}

.category {
  font-family: "Rampart One", cursive;
  font-size: 20px;
}

.nav-bar {
  align-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.searchbar {
  /* font-family: "Bungee Shade", cursive; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
